.selector-button-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: -125px;
    justify-content: center;
}

.selector-button {
    color: black;
    background: none;
    margin-left: 65px;
    margin-right: 65px;
}

.selector-button:hover {
    color: #9521B6;
    transition: all;
    transition-duration: 0.5s;
}